<article class="p-2"style="background-color: #898989">
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-3">Edit post</h2><hr>
  <form class="edit-post-form">
    <div>
        <label for="post-title">Post Title:</label><br>
      <input contenteditable="true" id="post-name" value="{{name}}" /> 
    </div>
    <div>
        <label for="post-desc">Post Content:</label><br>
      <input contenteditable="true" id="post-desc" value="{{description}}" /> 
    </div>
    {{!-- <div class="is-pulled-right">
       created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div> --}}
    <button type="submit" class="button btn-success"> Save Changes</button>
    <button type="button" class="button btn-danger delete-post-btn">delete post</button>
  </form>
</article>

<script src="/js/editpost.js"></script>
